body{
background-color: rgb(204, 191, 206);
background-position: center;
}
p{
    background-color:rgb(213, 223, 222) ;
    background-position: center;
}
h1{
    background-color: rgb(62, 163, 108) ;
    background-position: center;

}
h2{
    background-color: rgb(213, 223, 222);
    background-position: center;
}

